.elentos {
  color: #757575;
}

body {
  background-color: #191a1f;
}

textarea{
  width: 100%;
}


.simpleText{
  color: #ffffff;
  font-size: x-large;
  padding-right: 10px;
}

.inputs{
  position: absolute;
  right: 0;
  width: 170px;
  height: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.littlerInputs{
  position: absolute;
  right: 0;
  width: 150px;
  height: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


.divModales{
  position: absolute;
  display: flex;
  place-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 5px;
  backdrop-filter: blur(10px);
}

.div-sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 350px;
  background-color: #131217;
  overflow-y: hidden;
  overflow-y: auto;
}

.div-sidebar::-webkit-scrollbar {
  width: 12px;
}
.div-sidebar::-webkit-scrollbar {
  width: 12px;
}
.div-sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #757575;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.div-sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #757575;
}

.no-visible {
  display: none;
}

#closeSidebar {
  float: right;
}

.infoSidebar {
  float: left;
  margin-left: 10px;
  color: #ffffff;
  font-size: xx-large;
}

.div-headSidebar {
  padding: 10px;
}

#bodySidebar {
  display: flex;
  flex-direction: column;
}

.div-elementos {
  padding: 10px;
}

.div-elementos:hover {
  background-color: #191a1f;
  cursor: pointer;
}

.div-elementos:hover,
.div-elementos:hover * {
  color: #ffffff;
}

.add-button {
  float: right;
}

.elentos {
  float: left;
  width: 80%;
}

#sidebarUsuario{
  width: 100%;
}

.letasMenu {
  margin-left: 15px;
  font-size: x-large;
}

.btn-outline-success {
  border-color: transparent;
}

/*Modales*/

.modalPersonal {
  position: relative;
  background-color: #191a1f;
  border-radius: 10px;
  box-shadow: white 0px 0px 10px;
  padding: 20px;
  width: 360px;
}

.headModal{
  position: relative;
  top: 0;
  width: 100%;
}

.closeModal{
  float: right;
}

.closeSubModal{
  float: right;
}

.titleModal{
  float: left;
  font-size: xx-large;
  color: #ffffff;
}

.bodyModal{
  margin-top: 70px;
  position: relative;
}

.fooderModal{ 
  position: relative;
  padding-top: 20px;
}

.addButton{
  float: right;
}

.addFecha{
  border-color: transparent;
  padding: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.removeJSON{  
  border-color: transparent;
  padding: 0;
  border-radius: 10px;
  margin-left: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.rowFiles{
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  align-items: center;
}

.colorpick-eyedropper-input-trigger{
  width: 25px;
  height: 25px;
}

#modalAddMaterias{
  width: 400px;
}

#modalAddTareas{
  width: 400px;
}

.fechaTarea{
  margin-left: 10px;
}

.alertas{
  position: absolute;
  display: flex;
  justify-content: center;
}


/*Responsibe*/

@media only screen and (max-height: 600px) {
  .divModales{
    place-items: initial;
  }
}